body {
    background-color: var(--background-color);
    font-family: Figtree;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.blog-card {
    display: flex;
    flex-direction: column;
    width: 335px;
    padding: 23px;
    border-radius: 20px;

    background-color: var(--background-light);
    border: solid black;
    border-width: 1px 10px 10px 1px;    
}

.blog-card .image {
    border-radius: 10px;
    width: 100%;
}

.blog-card .progress .status {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 5px;
    margin-top: 25px;
    
    font-size: 14px;
    font-weight: 800;
    background-color: var(--background-color);
}

.blog-card .published {
    font-size: 14px;
    margin-top: 14px;
    font-weight: 600;
}

.blog-card .title {
    margin-top: 20px;
    font-weight: 800;
}

.blog-card .description {
    margin-top: 14px;
    line-height: 24px;
    color: var(--color-dark);
}

.blog-card .blog-autor {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.blog-card .blog-autor .avatar{
    width: 32px;
    border-radius: 50%;
    border: 1px solid black;
}

.blog-card .blog-autor .name {
    font-size: 14px;
    margin-left: 10px;
    font-weight: 800;
}